<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <!-- Define the log file layout -->
    <variable name="logLayout"
              value="${longdate} | ${level:uppercase=true} | ${logger:shortName=true} | ${message} ${exception:format=tostring}" />

    <!-- Define targets -->
    <targets>
        <!-- Console target -->
        <target name="consoleTarget" xsi:type="ColoredConsole" layout="${logLayout}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>

        <!-- Rolling file target -->
        <target xsi:type="File" name="rollingFileTarget"
                fileName="logs/${shortdate}.log"
                layout="${logLayout}"
                archiveFileName="logs/archives/{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="30"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="utf-8" />
    </targets>

    <!-- Define rules -->
    <rules>
        <!-- <logger name="*" minlevel="Info" writeTo="consoleTarget,rollingFileTarget" /> -->
        <logger name="*" minlevel="Info" writeTo="rollingFileTarget" />
    </rules>
</nlog>