<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WhyDeployDesktopClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WhyDeployDesktopClient.Properties.Settings>
            <setting name="CurrentDevPath" serializeAs="String">
                <value>C://Users/default</value>
            </setting>
            <setting name="DeployApplicationConfigStorage" serializeAs="String">
                <value>C:\Development\WhyDeploy\config-storage\WhyDeployAppStorage.json</value>
            </setting>
        </WhyDeployDesktopClient.Properties.Settings>
    </userSettings>
</configuration>